body{
    background: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

header aside{
    display: flex;
    top: -6;
    text-align: right;
}
header aside h1{
    text-align: left;
    margin-right: 500px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
header aside nav{
    width: 100%;
    background-color: burlywood;
}

header{
    display: inline;
}
header aside nav li, h1{
    display: inline-block;
}
header aside li a {
    color: darkorange;
    background-color: grey;
    outline: none;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
    width: 29px;
    padding-block: 10px;
    padding-inline: 9px;
    margin-inline: 10px;
}

div#meio{
    background-color: thistle;
    width: 100%;
}
div#meio div.mostprice{
    display: inline-flex;
    margin-inline: 20px;
}
div#meio div.price{
    margin-inline: 15px;
    padding-block: 6px;
}
div.price h3{
    font-size: 22px;
}
div.price li{
    padding-block: 10px;
}
div.price button{
    font-size: 18px;
    background-color: snow;
    outline: none;
    text-decoration: none;
    text-decoration:solid;
    border-radius: 8px;
    cursor: pointer;
}
div#fim{
    background-color: seashell;
}
 div#fim form{
     margin-block: 10px;
 }
 div#fim form input{
     height: 30px;
     border-style: dotted;
     border-radius: 10px;
 }
div#fim form input::placeholder:last-child{
    font-size: 8px;
}
 div#fim form button{
     height: 30px; 
     padding-inline: 65px;
     border-radius: 10px;
     background-color: teal;
     color: lightcyan;
     cursor: pointer;
 }

div#fim form p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer{
    background-color: moccasin;
    width: 100%;
    display: inline-flex;
}

footer p {
    font-style: italic;

    margin-inline: 10px;
}
footer p a{
    outline: none;
    text-decoration: none;
    color: black;
    font-weight: 800;
}
